.imgdebut {
    display: flex;
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url('images/cordonnier.jpg') top center no-repeat; /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size:cover;
    height: 1000px;
    color:white;
}

footer {
    background-color: gray;
    height: 40px;
    text-align: center;
}

.slogan {
    display: flex;
    margin-left: 30%;
    margin-top: 15%;
    flex-direction: column;
    
}