.imgdebut {
    display: flex;
    width: 100%;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url('images/cordonnier.jpg') top center no-repeat; /* Remplacez 'chemin/vers/votre/image.jpg' par le chemin de votre image */
    background-size:cover;
    height: 1000px;
}
